[versions]
android-plugin = "8.7.3"
koin = "4.0.1"
kotlin = "2.0.21"
kotlin-coroutines = "1.9.0"
lifecycle = "2.8.7"
room = "2.6.1"
timber = "5.0.1"
moshi = "1.15.2"
retrofit = "2.11.0"
media = "1.5.1"
google-material = "1.12.0"
compose-icons = "1.1.1"

[libraries]
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koin" }
koin-core = { module = "io.insert-koin:koin-core", version.ref = "koin" }
koin-compose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin" }
kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "kotlin-coroutines" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlin-coroutines" }
kotlin-serialization-core = "org.jetbrains.kotlinx:kotlinx-serialization-core:1.8.0"
lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
timber = { module = "com.jakewharton.timber:timber", version.ref = "timber" }
navigation-compose = "androidx.navigation:navigation-compose:2.8.5"
moshi-core = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }
moshi-codegen = { module = "com.squareup.moshi:moshi-kotlin-codegen", version.ref = "moshi" }
moshi-adapters = { module = "com.squareup.moshi:moshi-adapters", version.ref = "moshi" }
retrofit-core = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-converter-moshi = { module = "com.squareup.retrofit2:converter-moshi", version.ref = "retrofit" }
logging-interceptor = "com.squareup.okhttp3:logging-interceptor:4.12.0"
coil-compose = { module = "io.coil-kt:coil-compose", version = "2.7.0" }
androidx-core = { module = "androidx.core:core-ktx", version = "1.15.0" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version = "1.9.3" }
media-exoplayer = { module = "androidx.media3:media3-exoplayer", version.ref = "media" }
media-exoplayer-hls = { module = "androidx.media3:media3-exoplayer-hls", version.ref = "media" }
media-exoplayer-workmanager = { module = "androidx.media3:media3-exoplayer-workmanager", version.ref = "media" }
media-session = { module = "androidx.media3:media3-session", version.ref = "media" }
media-extractor = { module = "androidx.media3:media3-extractor", version.ref = "media" }
media-datasource = { module = "androidx.media3:media3-datasource", version.ref = "media" }
media-datasource-okhttp = { module = "androidx.media3:media3-datasource-okhttp", version.ref = "media" }
room-core = { module = "androidx.room:room-runtime", version.ref = "room" }
room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }

compose-bom = "androidx.compose:compose-bom:2024.12.01"
compose-ui-ui = { module = "androidx.compose.ui:ui" }
compose-ui-graphics = { module = "androidx.compose.ui:ui-graphics" }
compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
compose-ui-test-manifest = { module = "androidx.compose.ui:ui-test-manifest" }
compose-material3 = "androidx.compose.material3:material3:1.3.1"
compose-material-icons-core = { module = "androidx.compose.material:material-icons-core" }
compose-material-icons-extended = { module = "androidx.compose.material:material-icons-extended" }
compose-icons-simple = { module = "br.com.devsrsouza.compose.icons:simple-icons", version.ref = "compose-icons" }
material = { group = "com.google.android.material", name = "material", version.ref = "google-material" }

[bundles]
koin = [
    "koin-android",
    "koin-core",
    "koin-compose"
]
kotlin-coroutines = [
    "kotlin-coroutines-android",
    "kotlin-coroutines-core"
]
compose = [
    "compose-ui-ui",
    "compose-ui-graphics",
    "compose-ui-tooling-preview",
    "compose-material3",
    "compose-material-icons-core",
    "compose-material-icons-extended"
]
lifecycle = [
    "lifecycle-viewmodel",
    "lifecycle-runtime"
]

[plugins]
android-application = { id = "com.android.application", version.ref = "android-plugin" }
android-library = { id = "com.android.library", version.ref = "android-plugin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kotlin-compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version = "2.0.21-1.0.28" }
